# Config file for querying Coverity defects and dumping triage comments
# you can also use env vars like this ${varname}

##---- GENERAL settings
[general]

# debug output
debug = 2

#log = ${TEMP}\covtest1.log

# profile (summarize)
#mode = 0x20

# dump the data to screen or output file
mode = 0x80
output = "cim-data.csv"


# profile and dump :-)
#mode = 0x20 + 0x80

#skip = 3
#max = 5

##---- Coverity specific settings ----
[coverity]

## where to find Coverity Connect
ctransport=http
chostname=localhost
cport=8082

## Connect account to use to access just the SOAP web service
#cusername=admin
#cpassword=coverity


##--- data scope to find: 1 (new issues) or  2 (fixed issues) or 3 (dismissed issues)

## ALL data
cscope=0

## NEWLY DETECTED issues
#cscope=1

## NEWLY ELIMINATED (fixed) issues
#cscope=2

## NEWLY DISMISSED (fp/intentional) issues
#cscope=3


## sub-filter options (ANDed together)
#checker=RESOURCE_LEAK,FORWARD_NULL
#checker=RUBBISH
#impact=High
#impact=bla
#cwe=404,132,514
#cid=233252,233250
#component=TestProject.SampleCode
#component=TestProject.Other
#component=TestProject.SampleCode,TestProject.Other
#ccomment="Initial run"

# Coverity stream to look in
#cstream=cov_test_1
#cstream=curl
#cstream=Quake3-coverity
cstream=hello-cpp
#cstream=WebGoat-13

#csnapshots=10202,last()
#csnapshots=first(),last()
#csnapshots=10202,10314
#cstream=Quake3-misra-C2012-1
#csnapshots=10306,10311
#component=Curl.src
#cid=232069
#cid=233108
#csnapshots=10202,last()

#cattribute=Action:Fix Required
#cattribute=Action:Fix Submitted,Discuss=Yes
#cattribute=Status:Triaged;New   # causes a NPD
#cattribute=Status:Triaged
#cattribute=Discuss:Yes
#cattribute=CVSS_Severity:High,Critical;Discuss:Yes,,No
#classification=pending
#classification=bug
#kind=quality,security
#action=Fix Required


##end
